* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 99%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: 	#56070C;

}

.logo {
    width: 130px;
    cursor: pointer;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
    position: relative;
}

.nav ul li a {
    text-decoration: none;
    color: beige;
    font-family:"san-serif";
    font-size: 1.2rem;
}

.nav ul li::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4seg ease-out;
}

.nav ul li::before {
    width: 100%;
}